<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HailHost</title>
	{% include 'header.html' %}
</head>
<body>
	{% include 'navigation.html' %}
	<div id="page-wrap">
		<div id="intro">
			<div class="ticker">
				<h2>Boldly going where no host has gone before</h2>
				<h2>Dedicated and VPS hosting from just $5.99</h2>
				<h2>The best Minecraft hosting in the galaxy</h2>
				<h2>50% off Minecraft Hosting until 2014</h2>
			</div>
			<a class="btn-to-action" href="#iconbar">Learn More</a>
		</div>
		<div class="whitegrad">
			<div class="container">
				<h1 class="fancy">Our<b>Features</b></h1>
				<div class="row">
					<div class="col-md-4 featbox">
						<i class="fa fa-thumbs-o-up"></i>
						<h3>Some Feature</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis leo ipsum. In a sapien imperdiet, egestas.</p>
					</div>
					<div class="col-md-4 featbox">
						<i class="fa fa-rocket"></i>
						<h3>Some Feature</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis leo ipsum. In a sapien imperdiet, egestas.</p>
					</div>
					<div class="col-md-4 featbox">
						<i class="fa fa-comments"></i>
						<h3>Some Feature</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis leo ipsum. In a sapien imperdiet, egestas.</p>
					</div>
				</div>
				
				<h1 class="fancy">Get<b>Started</b></h1>
				<a href="#" class="btn btn-primary btn-toaction">Check out our Plans <i class="fa fa-angle-double-right"></i></a>

				<h1 class="fancy">Why<b>HailHost</b></h1>
				<div class="row">
					<ul class="col-md-4 falist bluefa">
						<li><i class="fa fa-leaf"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et.</li>
						<li><i class="fa fa-leaf"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et.</li>
						<li><i class="fa fa-leaf"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et.</li>
					</ul>
					<div class="col-md-8 content-switchy">
						<ul class="btns">
							<li><a></a></li>
							<li class="active"><a></a></li>
							<li><a></a></li>
							<li><a></a></li>
						</ul>
						<ul class="slides">
							<li>Vestibulum scelerisque enim at arcu pulvinar lacinia. Proin ut iaculis ipsum. Etiam et felis eget urna sagittis commodo non ut orci. Aliquam sit amet imperdiet dolor, ac scelerisque ipsum. Praesent nec eleifend magna, et pretium ipsum. Integer eget tortor vitae lorem dignissim aliquam ut ac velit.</li>
							<li class="active">Vestibulum scelerisque enim at arcu pulvinar lacinia. Proin ut iaculis ipsum. Etiam et felis eget urna sagittis commodo non ut orci. Aliquam sit amet imperdiet dolor, ac scelerisque ipsum. Praesent nec eleifend magna, et pretium ipsum. Integer eget tortor vitae lorem dignissim aliquam ut ac velit.</li>
							<li>Vestibulum scelerisque enim at arcu pulvinar lacinia. Proin ut iaculis ipsum. Etiam et felis eget urna sagittis commodo non ut orci. Aliquam sit amet imperdiet dolor, ac scelerisque ipsum. Praesent nec eleifend magna, et pretium ipsum. Integer eget tortor vitae lorem dignissim aliquam ut ac velit.</li>
							<li>Vestibulum scelerisque enim at arcu pulvinar lacinia. Proin ut iaculis ipsum. Etiam et felis eget urna sagittis commodo non ut orci. Aliquam sit amet imperdiet dolor, ac scelerisque ipsum. Praesent nec eleifend magna, et pretium ipsum. Integer eget tortor vitae lorem dignissim aliquam ut ac velit.</li>
						</ul>
					</div>
				</div>

				<h1 class="fancy">Connect<b>To</b>Us</h1>
				#twitter here
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
</body>
</html>