<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HailHost - Pricing</title>
	{% include 'header.html' %}
</head>
<body>
	{% include 'navigation.html' %}
	<div id="page-wrap">
		<div id="intro">
			<h1>Pricing</h1>
		</div>
		<div class="whitegrad">
			<div class="container">
				<div class="testimonial">
					Vestibulum scelerisque enim at arcu pulvinar lacinia. Proin ut iaculis ipsum. Etiam et felis eget urna sagittis commodo non ut orci. <i>- Lorem Ipsum</i>
				</div>
				<div class="row">
					<div class="col-md-3 plan plan-chicken">
						<img src="{{ baseUri }}/img/plan-chicken.jpg" alt="Chicken Plan for $4/mo">
						<span>1024 MB</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in massa eget massa.</p>
						<a href="#" class="plan-btn">Order for $4/mo</a>
					</div>
					<div class="col-md-3 plan plan-cow">
						<img src="{{ baseUri }}/img/plan-cow.jpg" alt="Chicken Plan for $4/mo">
						<span>2048 MB</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in massa eget massa.</p>
						<a href="#" class="plan-btn">Order for $8/mo</a>
					</div>
					<div class="col-md-3 plan plan-creeper">
						<img src="{{ baseUri }}/img/plan-creeper.jpg" alt="Chicken Plan for $4/mo">
						<span>4096 MB</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in massa eget massa.</p>
						<a href="#" class="plan-btn">Order for $16/mo</a>
					</div>
					<div class="col-md-3 plan plan-wither">
						<img src="{{ baseUri }}/img/plan-wither.jpg" alt="Chicken Plan for $4/mo">
						<span>8192 MB</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in massa eget massa.</p>
						<a href="#" class="plan-btn">Order for $32/mo</a>
					</div>
				</div>
				<a href="#" class="showmore">Show More</a>
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
</body>
</html>